####################################

/*Dung / About Us*/

####################################

 .about-us {
    font-size: 50px;
    color:white;
    text-align: left;
    background-color: teal;
    padding: 20px;
    margin-bottom: 0;
    text-align: left;
}

.logo {
    float: left;
    width: 20%;
}

.about-p1 {
    font-size: 20;
    color:white;
    text-align: left;
    background-color: teal; 
    padding: 20px;
    margin-top: 0;
    text-align: left;
}

.about-p2 {
    font-size: 20;
    color:white;
    text-align: left;
    background-color: teal; 
    padding: 20px;
    margin-top: 0;
    clear: left;

}

.about-p3 {
    font-size: 20px;
    color:white;
    background-color: teal; 
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.about-what-can-we-offer {
    font-size: 50px;
    color:white;
    background-color: teal;
    padding: 15px;
    margin: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.about-footer {
    background-color: teal;
    font-size: 20;
    color: white;
    padding: 20px;
    margin: 20px;
}

.name {
    background-color: teal;
    font-size: 15;
    color: white;
    width: 170px;
}

.about-picture {
    width: 30%;
    height: 100%;
    margin-left: 20px;
    float: left;
}

.about-gpicture {
    float: left;
    width: 50%;
    height: 100%;
    padding: 0 10px 0 0;
    margin-left: 20px;
    margin-bottom: 20px;
}

* {
    box-sizing: border-box;
  }
  
.column {
float: left;    
width: 33.33%;
padding: 15px;
}

.contact {
    font-size: 100px;
    color:white;
    text-align: left;
    background-color: teal;
    padding: 20px;
    margin: 20px;
    margin-bottom: 0;
    height: auto;
}

.contact-image {
    float:right;
    width: 50%;
    height: auto;
    margin: 20px;
}


.label {
    background-color: teal;
    color: white;
}

.social-icons {
    width: 32px;
    float: right;
    margin-right: 20px;
    /* display: inline-block; */
}

.media {
    width: 100%;
    float: right;
}

####################################

/*Dung / About Us*/

####################################

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;

/*div.form {
	background-color: #008080;
	color: white;
	line-height: 18pt;

}
input[type='submit'] {
	padding: 10px 25px 8px;
	background-color: white;
	color: #008080;
	font-weight: bolder;
}
input[type='text'], input[type='email'],
input[type='password'] {
     width: 250px;
     padding: 10px;
     font-size: 14px;
     margin-top: 10px;
}
*/



.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background-color: teal; 
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
	


/* .popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
} */
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
    /* Remove the left: 50% */

* {
    box-sizing: border-box;
  }
